#header #mainNav {
	position: absolute;
	left: 320px;
	bottom: 0px;
}
#header #mainNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
#header #mainNav li {
	float: left;
	margin: 0;
	padding:0;
	display: block;
}
#header #mainNav li a:link, #header #mainNav li a:visited {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
	text-decoration: none;
	padding: 0 15px 0 30px;
	margin-right: 10px;
	display: block;
	line-height: 25px;
	background: url(../_images/nav_rollover.jpg) no-repeat left bottom;
}

#header #mainNav li a:hover {
	color: #f8b449;
	background: url(../_images/nav_rollover.jpg) no-repeat left top;
	border: none;
}
#header #mainNav ul li a.current {
	margin-top: -5px;
	height: 30px;
	background: url(../_images/current.jpg) no-repeat;
	color: #AAB3B2;
	line-height: 25px;
}
#header #mainNav ul li a.current:hover {
	color: #AAB3B2;
	cursor: default;
}
