

/* Overall Page */

body {
	margin: 0;
	padding-bottom: 2em;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

#subheaderWrapper
{
    border-bottom: 4px dotted #2c6402;
}
/* Header Section */

#header {
	border-top: 8px solid #183503;
	/*border-bottom: 2px dotted #2c6402;*/
	height: 5.6em;
}
#header .title {
	font: 190% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: white;
	background-color: transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0em;
	margin-left: .8em;
    height: 62px;
}

#header a:link, a:visited  {
	color: #FFFFFF;
}

/* Navigation */

#navigation {
	width: 200px;
	top: 10.4em;
	left: 1em;
	width: 204px;	
	position:absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
    height: 235px;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	border-bottom: 1px solid #183503;
	border-top: 1px solid #183503;
}
#navigation li a  {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 12px solid #183503;
	border-right: 2px solid #183503;
	background-color: #2c6402;
	color: #FFFFFF;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #2c6402;
	color: #FFFFFF;
}
#navigation ul ul {
	margin-left: 12px;
}
#navigation ul ul li {
	border-bottom: 1px solid #FFFFFF;
	margin:0;
	background-color: #a2cc85;
	color: #000000;
}
#navigation ul ul a:link, #navigation ul ul a:visited {
	background-color: #a2cc85;
	color: #000000;
}
#navigation ul ul a:hover {
	background-color: #FFFFFF;
	color: #000000;
}
#header .breadcrumb {
	font: 90% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: #2c6402;
	background-color: transparent;
	float: right;
	margin-right: 2em;
	margin-top: 0.8em;
	font-weight:bold;
}


/* Main Content */

#content 
{
	margin-top:2.8em;
	margin-left: 16em;
	margin-right: 2em;
}
h1 {
	font: 150% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
}

#content ul {
	font-size: 80%;
	line-height: 1.6em; 
}


.Important
{
    font-size: large;
    color: Red;
}


/*calendar*/
.MyCalendar .ajax__calendar_container {
    border:1px solid #2c6402;
    background-color: #FFFFFF;
    color: #2c6402;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}



/*MODAL*/
#mask 
   {
      position:absolute;
      left:0;
      top:0;
      z-index:9000;
      background-color:grey;
      display:none;
    }
     
   #boxes .window {
     position:absolute;
     left:0;
    top:0;3
     width:auto;
     height:200px;
    display:none;
     z-index:9999;
     padding:20px;
   }
    
   #boxes #modalwindow {
     width:auto; 
     height:200px;
     padding:10px;
     background-color:#ffffff;
     overflow:auto;
   }
   
    #boxes .window2 {
     position:absolute;
     left:0;
    top:0;
     width:auto;
     height:400px;
    display:none;
     z-index:9999;
     padding:20px;
   }
    
   #boxes #modalwindow2 {
     width:auto; 
     left:2px;
     height:400px;
     padding:2px;
     background-color:#ffffff;
     height:200px;
     overflow:auto;
   }
   
   #boxes .window3 {
     position:absolute;
     left:0;
    top:0;
     width:auto;
     height:650px;
    display:none;
     z-index:9999;
     padding:20px;
   }
    
   #boxes #modalwindow3 {
     width:auto; 
     left:2px;
     height:650px;
     padding:2px;
     background-color:#ffffff;
     height:200px;
     overflow:auto;
   }
    
   .stylecenter
   {
    text-align: center;
  }
  
 /* .LoginButtons

{

   background-color: #ccc;

   padding: 10px;

   border-radius: 10px;

   -moz-border-radius: 10px;

   -webkit-border-radius: 10px;

}
*/