<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Doctor" />
            <allow roles="Midwife" />
            <allow roles="Nurse" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>